@import './flexible.scss';

.app {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.transport_wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  .transport {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .transBtn {
      width: 90px;
      height: 50px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    #startButton {
      background: #0ac940;
      color: #fff;
      &:hover {
        opacity: 0.7;
      }
    }
    #stopButton {
      background: #da2f2f;
      color: #fff;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.plug> * {
  transform: scale(0.7);
}



.plug {
  width: 548px;
  height: 870px;
  margin: 0 auto;
  .plate {
    width: 548px;
    height: 870px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./images/silver_wide2.png");
    .plate_face {
      width: 90%;
      height: 90%;
    }
  }
}

.filter_wrapper {
  width: 100%;
  height: 100%;
  .top_container{
    width: 100%;
    height: 40%;
  }
  .bottom_container {
    padding: 25px 0 0;
    height: 60%;
    width: 100%;
  }
}

.curve_wrapper {
  .curve {
    background: rgba(0, 0, 0, 0.66);
  }

}

.switch {
  // margin: 0 0 20px;
}
